.targetList
{
    height: 400px!important;
}
.targetListOperator
{
    height:450px!important;
}
.targetListOperatorMd
{
    height:470px!important;
}
.targetListOperatorLg
{
    height:500px!important;
}
.logo-route
{
    width: 120%;
}
#responsiveMenu
{
    margin-top: 0!important;
}
.selectSearch
{
    list-style: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    background: transparent;
    border-top: 0px solid transparent;
    border-bottom: 2px solid #909090 !important;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 32px;
    font-weight: 400;
    outline: none;
    padding: 10px 0 10px 0;
}
.selectSearch a
{
    color:gray!important;
}
.selectSearch a:hover
{
    color:white!important;
}
@media only screen and (max-width: 500px) {

    #search_bar_container
    {
    	margin-top: 44%!important;
	    width: 101%!important;
    }
.logo-route
    {
        width: 100%;
    }
    #responsiveMenu
    {
        margin-top: 10%!important;
    }
}
.targetList
{
    height: 400px!important;
}
.targetListOperator
{
    height:450px!important;
}
.targetListOperatorMd
{
    height:470px!important;
}
.targetListOperatorLg
{
    height:500px!important;
}
.logo-route
{
    width: 120%;
}
.selectSearch
{
    list-style: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    background: transparent;
    border-top: 0px solid transparent;
    border-bottom: 2px solid #909090 !important;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 32px;
    font-weight: 400;
    outline: none;
    padding: 10px 0 10px 0;
}
.selectSearch a
{
    color:gray!important;
}
.selectSearch a:hover
{
    color:white!important;
}
@media only screen and (max-width: 500px) {

    #search_bar_container
    {
        margin-top: 44%!important;
        width: 101%!important;
    }
.logo-route
    {
        width: 100%;
    }
}